@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
	--dark-primary: #111827;
	--dark-primary-alt: #334155b0;
	--dark-secondary: #22d3ee;
	--dark-secondary-alt: #a5f3fc;
	--dark-tertiary: #374151;
	--light-primary: #e0f2fe;
	--light-primary-alt: #94a3b8b0;
	--light-secondary: #0f172a;
	--light-secondary-alt: #0c4a6e;
	--light-tertiary: #94a3b8;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	user-select: none;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 500;
	width: 100%;
	overflow-x: hidden;
}

.dark {
	background-color: var(--dark-primary);
}

.light {
	background-color: var(--light-primary);
}

#parallax-container::-webkit-scrollbar {
	width: 0.75rem;
}

.dark #parallax-container::-webkit-scrollbar-track {
	background: var(--dark-primary);
}

.dark #parallax-container::-webkit-scrollbar-thumb {
	background: var(--dark-secondary);
}

.dark #parallax-container::-webkit-scrollbar-thumb:hover {
	background: var(--dark-secondary-alt);
}

.light #parallax-container::-webkit-scrollbar-track {
	background: var(--light-primary);
}

.light #parallax-container::-webkit-scrollbar-thumb {
	background: var(--light-secondary);
}

.light #parallax-container::-webkit-scrollbar-thumb:hover {
	background: var(--light-secondary-alt);
}

#parallax-container {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	-webkit-perspective: 1px;
	perspective: 1px;
}

.background {
	position: absolute;
	opacity: 1;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -10;
}

#background-1 {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
	filter: blur(0.5px);
}

#background-2 {
	-webkit-transform: translateZ(-1.5px) scale(1.75);
	transform: translateZ(-1.5px) scale(1.75);
	filter: blur(1px);
}

.pictures {
    position: absolute;
    width: 1rem;
    height: 1rem;
	opacity: 0;
}

#background-1 > .pictures {
	animation-delay: 0.5s;
	animation: fade-in 1s ease-in;
	animation-fill-mode: forwards;
}

#background-2 > .pictures {
	animation-delay: 0s;
	animation: fade-in-less 1s ease-in;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.25;
	}
	
}

@keyframes fade-in-less {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.12;
	}
	
}

.dark #background-1 > .pictures {
	fill: var(--dark-secondary);
}

.dark #background-2 > .pictures {
	fill: var(--dark-secondary-alt);
}

.light #background-1 > .pictures {
	fill: var(--light-secondary);
}

.light #background-2 > .pictures {
	fill: var(--light-secondary-alt);
}

#content-container {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

header, section, footer {
	width: 100vw;
}

header, footer {
	display: grid;
    align-content: center;
    align-items: center;
	height: 3.5rem;
	z-index: 5;
	backdrop-filter: blur(7.5px);
}

.dark .header-footer {
	background-color: var(--dark-primary-alt);
	color:var(--dark-secondary);
}

.light .header-footer {
	background-color: var(--light-primary-alt);
	color:var(--light-secondary);
}

header {
	grid-template-columns: auto auto;
    justify-content: space-between;
	position: fixed;
	border-radius: 0 0 0 1.75rem;
}

footer {
    justify-content: center;
	font-size: 1rem;
}

#logo {
	position: fixed;
	top: 0.75rem;
	left: 4rem;
	font-size: 1.75rem;
	font-weight: 700;
}

nav {
	display: grid;
	grid-template-columns: repeat(4, auto);
    align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	gap: 0;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	z-index: 10;
}

.dark nav {
	color: var(--dark-secondary);
}

.light nav {
	color: var(--light-secondary);
}

a, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}

nav > a {
	font-size: 1.25rem;
	padding: 0.75rem max(0.75rem, 2vw);
	transition: color 0.35s, text-shadow 0.35s, opacity 0.35s;
}

nav:hover > a {
	opacity: 0.35;
}

nav > a:hover {
	opacity: 1;
}

.dark nav > a:hover {
	color: var(--dark-secondary-alt);
	text-shadow: 0 0 2.5rem var(--dark-secondary);
}

.light nav > a:hover {
	color: var(--light-secondary-alt);
	text-shadow: 0 0 2.5rem var(--light-primary); 
}

#menu-button {
	display: none;
}

.dark .menu-button-parts {
	background-color: var(--dark-secondary);
}

.light .menu-button-parts {
	background-color: var(--light-secondary);
}

#gear {
	position: fixed;
	cursor: pointer;
	left: 0.5rem;
	top: 0.5rem;
	height: 2.5rem;
	z-index: 5;
}

#side-contacts {
	position: fixed;
	bottom: 3.25rem;
	left: 0;
	z-index: 5;
}

.side-contact {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	width: 5rem;
	height: auto;
	left: 0;
	transform: translateX(-5rem);
	padding: 0.3rem;
	border-radius: 0 0.35rem 0.35rem 0;
	margin-bottom: 0.35rem;
}

.side-contact:hover {
	left: 1.125rem;
}

#side-contact-1, #side-contact-2, #side-contact-3 {
	animation: startup 1s;
	animation-fill-mode: forwards;
	transition: left 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

#side-contact-1 {
	animation-delay: 1s;
}

#side-contact-2 {
	animation-delay: 1.5s;
}

#side-contact-3 {
	animation-delay: 2s;
}

@keyframes startup {
	from {
		transform: translateX(-5rem);
	}
	
	to {
		transform: translateX(-1.5rem);
	}
}

.side-contact-image {
	width: 1.875rem;
}

.dark .side-contact {
	background-color: var(--dark-secondary);
}

.dark .side-contact > svg {
	fill: var(--dark-primary);
}

.dark .side-contact:hover {
	background-color: var(--dark-secondary-alt);
}

.light .side-contact {
	background-color: var(--light-secondary);
}

.light .side-contact > svg {
	fill: var(--light-primary);
}

.light .side-contact:hover {
	background-color: var(--light-secondary-alt);
}

#back-to-top {
	width: 2.5rem;
	height: 2.5rem;
	right: 3rem;
	transition: bottom 0.5s ease-out, fill 0.25s ease-in-out;
	z-index: 5;
}

.svg-fill {
	transition: fill 0.25s ease-in-out;
}

.dark .svg-fill {
	fill: var(--dark-secondary);
}

.dark .svg-fill:hover {
	fill: var(--dark-secondary-alt);
}

.light .svg-fill {
	fill: var(--light-secondary);
}

.light .svg-fill:hover {
	fill: var(--light-secondary-alt);
}

.svg-stroke {
	transition: stroke 0.25s ease-in-out, fill 0.25s ease-in-out;
}

.dark .svg-stroke {
	stroke: var(--dark-secondary);
	fill: var(--dark-primary);
}

.dark .svg-stroke:hover {
	stroke: var(--dark-secondary-alt);
}

.light .svg-stroke {
	stroke: var(--light-secondary);
	fill: var(--light-primary);
}

.light .svg-stroke:hover {
	stroke: var(--light-secondary-alt);
}

.dark main {
	color:var(--dark-secondary);
}

.light main {
	color:var(--light-secondary);
}

section {
	display: grid;
	align-content: center;
    justify-items: center;
	gap: 30px;
	height: auto;
	padding: 100px 20px 100px 20px;
}

#welcome {
	min-height: 600px;
	height: 100vh;
	padding: 100px 70px 50px 70px; 
}

h1 {
	text-align: center;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 500;
}

h2 {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 500;
}

h3 {
	font-weight: 400;
}

span {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 700;
}

li {
	padding-bottom: 0.75rem;
}

.lazy-image-container, .avatar-image {
	width: 50vw;
	height: 50vw;
	max-width: 15rem;
	max-height: 15rem;
	border-radius: 50%;
}

.avatar-image {
	display: block;
	position: absolute;
	transition-property: opacity;
}

.dark .avatar-image {
	background-color: var(--dark-secondary);
}

.light .avatar-image {
	background-color: var(--light-secondary);
}

#skills {
	gap: 15px;
}

.icon-collection {
	width: auto;
	height: 3rem;
	margin: 0 auto 2rem auto;
}

.icon-container {
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	padding: 0;
	margin: 0.25rem 0.5rem;
}

.icon-image {
	height: 2.5rem;
	width: 2.5rem;
}

.icon-tooltip {
	position: absolute;
	opacity: 0;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	transform: translateY(25%) translateX(calc(-50% + 1.25rem));
}

.icon-tooltip-arrow {
	display: block;
    fill: #0f0f0f;
	width: 1rem; 
	height: 0.5rem;
	position: absolute;
    opacity: 0;
    transform: translateX(0.75rem) translateY(0rem);
}

.dark .icon-tooltip-arrow {
	fill: var(--dark-secondary-alt);
}

.light .icon-tooltip-arrow {
	fill: var(--light-secondary-alt);
}

.dark .icon-tooltip {
	background-color: var(--dark-secondary-alt);
	color: var(--dark-primary);
}

.light .icon-tooltip {
	background-color: var(--light-secondary-alt);
	color: var(--light-primary);
}

#projects {
	gap: 0;
	padding: 100px 0 100px 0;
}

#project-index-buttons {
	height: 0;
}

.arrow-button {
	position: relative;
	top: 13.5rem;
	height: 4.5rem;
	cursor: pointer;
	z-index: 3;
}

#projects-container {
	height: 31.5rem;
	overflow: hidden;
}

#project-slider {
	display: grid;
	grid-template-columns: repeat(6, auto);
	gap: 3rem;
	position: relative;
	transition: left 0.5s;
}

.project-box {
	display: grid;
	grid-template-rows: 2rem 2rem 7.5rem 14rem;
	gap: 0.5rem;
	width: 15.5rem;
	height: 31.5rem;
	padding: 1rem;
	border-radius: 0.75rem;
	backdrop-filter: blur(7.5px);
}

.dark .project-box {
	background-color: var(--dark-primary-alt);
}

.light .project-box {
	background-color: var(--light-primary-alt);
}

.project-title {
	font-size: 1.25rem;
	text-align: center;
	margin: auto;
}

.project-techs {
	margin: auto;
}

.project-techs > svg {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.4rem;
}

.project-techs > img:last-child {
	margin-right: 0;
}

.project-img {
	width: 100%;
}

.dark .project-img {
	border: 1px solid var(--dark-secondary);;
}

.light .project-img {
	border: 1px solid var(--light-secondary);
}

.project-description {
	font-size: 1rem;
	padding: 0.5rem 0;
}

.project-button {
	position: absolute;
	font-size: 1.25rem;
	text-align: center;
	text-shadow: none;
	padding: 0.25rem;
	border-radius: 0.5rem;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border 0.1s ease-in-out;
}

.dark .project-button {
	background-color: var(--dark-primary);
	color: var(--dark-secondary);
	border: 2px solid var(--dark-secondary);
}

.dark .project-button:hover {
	background-color: var(--dark-secondary);
	color: var(--dark-primary);
}

.light .project-button {
	background-color: var(--light-primary);
	color: var(--light-secondary);
	border: 2px solid var(--light-secondary);
}

.light .project-button:hover {
	background-color: var(--light-secondary);
	color: var(--light-primary);
}

.project-demo-button {
	left: 1rem;
	bottom: 1rem;
	width: 9.75rem;
}

.project-code-button {
	right: 1rem;
	bottom: 1rem;
	width: 3rem;
}

#contact {
	padding: 100px 20px;
}

#contacts > a {
	display: block;
	margin-bottom: 0.75rem;
}

.contact-image {
	width: 2.5rem;
	vertical-align: middle;
}

.contact-text {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 500;
	vertical-align: middle;
	padding-left: 0.75rem;
}

.visible {
	opacity: 1;
	transition: opacity 0.5s;
}

.invisible {
	opacity: 0;
	transition: opacity 0.5s;
}

@media only screen and (max-width: 40.5rem) {

	#parallax-container::-webkit-scrollbar {
		display: none;
	}

	header, footer {
		height: 2.75rem;
	}

	header {
		padding: 0 0.75rem 0 3rem;
		border-radius: 0 0 0 1.25rem;
	} 

	#logo {
		top: 0.5rem;
		left: 3rem;
		font-size: 1.5rem;
	}

	nav {
		display: none;
		gap: 0;
		position: fixed;
		top: 2.75rem;
		right: 0;
		width: auto;
		backdrop-filter: blur(7.5px);
	}

	.dark nav {
		background-color: var(--dark-primary-alt);
	}

	.light nav {
		background-color: var(--light-primary-alt);
	}

	nav > a {
		font-size: 1.125rem;
		text-align: right;
		width: auto;
		padding: 0.5rem 1rem 0.5rem 1rem;
	}

	#menu-button {
		display: inline-block;
		position: absolute;
		top: 0.5rem;
		right: 1rem;
		z-index: 10;
	}

	.menu-button-parts {
		width: 1.75rem; 
		height: 0.25rem;
		border-radius: 0.125rem;
		margin: 0.25rem 0;
		transition: transform 0.5s, opacity 0.5s;
	}

	#gear {
		left: 0.375rem;
		top: 0.375rem;
		height: 2rem;
	}

	#side-contacts {
		display: none;
	}

	#back-to-top {
		right: -10rem;
	}

	section {
		gap: 24px;
	}

	footer {
		font-size: 0.75rem;
	}

	#welcome {
		padding: 100px 20px 50px 20px;
	}

	#skills {
		gap: 12px;
	}
	
	#skills > h2 {
		margin-bottom: 0;
	}

	.icon-collection {
		width: auto;
		height: 3rem;
		margin: 0 auto 1.5rem auto;
	}

	.icon-container {
		height: 2rem;
		width: 2rem;
		padding: 0;
		margin: 4px 6px;
	}
	
	.icon-image {
		height: 2rem;
		width: 2rem;
	}

	.icon-tooltip {
		transform: translateY(25%) translateX(calc(-50% + 1rem));
	}

	.icon-tooltip-arrow {
		width: 0.75rem; 
		height: 0.375rem;
		transform: translateX(0.625rem) translateY(0.05rem);
	}

	.arrow-button {
		top: 11.5rem;
		height: 3.5rem;
	}

	#projects-container {
		height: 26.5rem;
	}

	#project-slider {
		gap: 2.5rem;
		top: 0;
	}

	.project-box {
		grid-template-rows: 1.75rem 1.75rem 6.5rem 12rem;
		gap: 0.375rem;
		width: 13rem;
		height: 26.5rem;
		padding: 0.75rem;
		border-radius: 0.75rem;
	}
	
	.project-title {
		font-size: 1rem;
	}

	.project-techs > svg {
		width: 1.125rem;
		height: 1.125rem;
		margin-right: 0.25rem;
	}

	.project-img {
		width: 100%;
	}

	.project-description {
		font-size: 0.875rem;
		padding: 0.5rem 0;
	}

	.project-button {
		font-size: 1rem;
		padding: 0.25rem;
	}

	.project-demo-button {
		left: 0.75rem;
		bottom: 0.75rem;
		width: 8rem;
	}

	.project-code-button {
		right: 0.75rem;
		bottom: 0.75rem;
		width: 2.75rem;
	}

	.contact-image {
		width: 2rem;
	}
}

@media only screen and (max-width: 23.75rem) {
	header {
		border-radius: 0;
	}

	nav {
		grid-template-columns: auto;
		top: 2.75rem;
		width: 100vw;
		height: auto;
	}

	nav > a {
		text-align: center;
		width: 100vw;
		padding: 0.5rem 0 0.5rem 0;
	}

	.arrow-button {
		top: 28.25rem;
	}
}