@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	user-select: none;
	color: #a2ccff;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 500;
	overflow-x: hidden;
}

header, section, footer {
	width: 100vw;
}

header, footer {
	display: grid;
    align-content: center;
	background-color: #000f20;
	box-shadow: 0 0 10vh 2vh #80b9ff;
	height: 6vh;
	min-height: 50px;
	z-index: 10;
}

header {
	grid-template-columns: auto auto;
    justify-content: space-between;
	position: fixed;
	padding-left: 25px;
	padding-right: 35px;
}

section {
	display: grid;
	align-content: center;
    justify-items: center;
	gap: 30px;
	background-color: #000f20;
	text-shadow: 0 0 10px #6200ff;
	height: 100vh;
	padding: 0 20px 0 20px;
}

nav {
	display: grid;
	grid-template-columns: repeat(4, auto);
    align-items: center;
	gap: min(4vw, 3em);
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	text-shadow: 0 0 10px #6200ff;
}

a, a:visited {
	color: #80b9ff;
	text-decoration: none;
}

nav > a {
	transition-property: text-shadow;
	transition-duration: 0.5s;
}

nav > a:hover {
	text-shadow: 0 0 3vh #a2ccff;
	transition-property: text-shadow;
	transition-duration: 0.4s;
}

#logo {
	font-size: 30px;
	font-weight: 700;
}

footer {
    justify-content: center;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 500;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}

span {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 700;
}

#topH {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

#middleH {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

ul > li {
	padding-bottom: 10px;
}

#skills > div > h2 {
	padding-bottom: 10px;
}

#skills > div > div {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 5px;
    align-content: center;
    justify-content: center;
}

#skills > div > div > a > img {
	height: 45px; 
	width: 45px;
	padding: 5px;
}

#projects {
	gap: 60px
}

#prev-button, #next-button {
	position: relative;
	border: none;
}

#project-slider {
	display: grid;
	grid-template-columns: repeat(8, auto);
	gap: 50px;
	position: relative;
	transition-property: left;
	transition-duration: 0.5s;
}

.project-box {
	display: grid;
	grid-template-rows: 60px 30px 140px 210px 50px;
	gap: 2.5px;
	width: 250px;
	height: 500px;
	border-radius: 7px;
	box-shadow: 0 0 15px 3px #80b9ff;
}

.project-title {
	padding: 6px 12px;
}

.project-techs {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 5px;
    align-content: center;
    justify-content: center;
}

.project-techs > img {
	width: 20px;
	height: 20px;
}

.project-img {
	width: 250px;
	height: 140px;
}

.project-description {
	font-size: 16px;
	padding: 5px 10px;
}

.project-buttons {
	margin: auto;
}

.project-buttons > a {
	display: inline-block;
	background-color: #000f20;
	color: #80b9ff;
	text-align: center;
	text-shadow: none;
	padding: 4px 0;
	border: 2px solid #80b9ff;
	border-radius: 5px;
}

.project-buttons > a:hover {
	background-color: #80b9ff;
	color: #000f20;
}

.project-demo-button {
	width: 176px;
	margin-right: 8px;
}

.project-code-button {
	width: 50px;
}

.project-code-button:hover {
	background-color: #80b9ff;
	color: #000f20;
	text-shadow: none;
}

.project-buttons > button {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	width: 55px;
	height: 25px;
	margin: 0 3px 0 3px;
}

#contacts > div {
	margin-bottom: 2vh;
}

#contacts > div > a > img {
	width: 40px;
}

#contacts > div > a > span {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:500;
	vertical-align: middle;
	padding-left: 10px;
}

#contacts > div > a > img {
	vertical-align: middle;
}

.visible {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.invisible {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}